.nav {
  width: 85px;
  height: 100vh;
  background-color: #07a287;
  ul {
    width: 85px;
    li {
      button {
        width: 85px;
        height: 85px;
        color: #fff;
      }
    }
  }
}
